.overall-payment-container-1 {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px; 
    margin-top: 50px; 
}


.overall-payment-container-2 {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.overall-payment-container-1 i {
    color: black; 
    font-size: 60px; 
    margin-bottom: 20px;
    animation: rotate-dollar 5s infinite;
}

.overall-payment-container-1 h1 {
    font-size: 30px;
    text-align: center;
    color: black; 
}

.overall-payment-container-1 p {
    color: black;
    text-align: center;
}

.payment-container h2 {
    font-size: 24px; 
    color: black;
    margin-bottom: 3%;
}

.payment-container p {
    color: black; 
    padding: 2px;
    font-size: 16px; 
}

.payment-container input {
    padding: 8px; 
    margin-bottom: 20px; 
    outline: none;
    border: none;
    border-bottom: 2px solid black; 
    background-color: transparent; 
    color: black; 
}

.payment-container button {
    background-color: #5acae3;
    padding: 12px 20px; 
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    width: 140px;
    font-size: 16px;
}

.payment-container button:hover {
    border-radius: 0px;
}
