.privacy-policy-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .privacy-policy-box {
    background-color: #d3d2d2cd;
    color: #000000;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #000;
  }
  
  .privacy-policy-box h3 {
    margin-top: 0;
  }
  
  .privacy-policy-box p {
    margin-bottom: 0;
  }
  